@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* Fuente: font-family: 'Roboto', sans-serif; */

/* Colores:
    Principal: #F77A36 (naranja)
    Secundario: #6CE69A (verde)
    Fondo claro: #f8f9fa
    Fondo oscuro: #000000
*/

/* -------------------------- ESTILO GENERAL ----------------------------- */
* {
    margin: 0px;
    padding: 0px;
}


html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    /*simula que 1rem=10px*/
}

.h1 .h2 .h3 {
    font-family: Georgia, serif;
}

/* ------------------------- HEADER y NAVBAR -------------------------- */
.banner-img-portada{
    background-image: url(../medios/mujer-camina.gif);
    height: 67em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center; 
}

.text-banner {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100%; 
}

header img {
    width: 100px;
    margin-top: 3px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    flex-wrap: wrap;
}

.nav-container{
 background-color:#F77A36;   
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}


.login-register {
    display: flex;
    gap: 1rem;
}

.login-register a {
    background: white;
    color: #F77A36;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
}

.text-banner-h1 {
    font-size: 4rem;
}

.text-banner-p {
    font-size: 3rem;
}

.banner-img-portada .text-banner {
    text-align: center;
}

/* ------------------------------ MAIN INDEX ---------------------------- */
/* primer section ---------------------------------------------------------*/
.contenido-presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}

.img-presentacion img {
    width: 100%;
    border-radius: 8px;
}

.txt-presentation {
    font-size:2rem;
    line-height: 1.5;
}

.txt-presentation ul {
    margin-top: 1rem;
    padding-left: 2rem;
}

.txt-presentation button {
    margin-top: 1.5rem;
    background-color: #F77A36;
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: bold;
}


/* segunda section -----------------------------------------------------------*/

.section-card {
    align-items: center;
}

.contenedor-card-info-y-dudas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 4rem;
    margin-bottom: 5rem;
}

.contenedor-card-option {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-option-info {
    padding: 6rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    background-color: #6CE69A;
}

.contenedor-formulario form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

/* formulario*/
.contenedor-formulario input,
.contenedor-formulario textarea {
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
}

.contenedor-formulario input[type="submit"] {
    background-color: #6CE69A;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}


/* ----------------------------- NUTRICIÓN ------------------------------------------------ */
.section-nutricion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.nutricion-div {
    background-color: #f0f0f0;
    ;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.nutricion-div h1,
.nutricion-div h2 {
    margin-top: 0;
    color: #333;
}

.nutricion-div p,
.nutricion-div ul {
    margin: 0.5rem 0 0 0;
}

.nutricion-div ul {
    padding-left: 1.2rem;
}

.button {
    font-size: 16px;
    margin: 10px 5px 10px 5px;
    background: darkcyan;
    padding: 5px;
    color: white;
    border-radius: 8px;
}

/* ---------------------------------EJERCICIO ------------------------------------------------*/
.grid-calendario,
.grid-ejercicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px;
    gap: 2rem;
    padding: 2rem;
}

.card-ejercicio,
.dia {
    background: #e2ffe9;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}


/*------------------------------------ FOOTER ----------------------------------------------*/
.footer-container {
    background-color: #000000;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
}

.footer-container p {
    color: #ffffff;
    font-size: 1.7rem;
    padding: 0rem 5rem 0rem 5rem;
}

